* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	width: 100%;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url("img/background.png");
	background-size: cover;          /* füllt den Screen, beschneidet Ränder */
	background-position: center;     /* zentriert */
	background-repeat: no-repeat;
}

.container {
	width: 100vw; /* Setzt die Breite auf die gesamte Viewport-Breite */
	height: 93vh; /* Setzt die Höhe auf 90% der Viewport-Höhe */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.caption-container {
	width: 100%;
	background-color: #eb6128;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
}

.info-container {
	width: 100%;
	background-color: #f5f5f5;
	color: #333;
	padding: 6px 10px;
	text-align: center;
	font-size: 0.95em;
}

.image-container {
	position: relative;
	flex: 1; /* Nimmt den verbleibenden Platz ein */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%; /* Volle Breite nutzen */
	height: 70vh; /* Setzt die Höhe auf 60% der Viewport-Höhe */
}

.image-container img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.text-container {
	width: 100%;
	padding: 10px;
	text-align: center;
}

.restart-container {
	width: 100%;
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: center;
	gap: 10px; /* Abstand zwischen den Buttons */
}

.restart-container button {
	width: 120px;      /* feste Breite */
	padding: 10px 0;   /* vertikale Polsterung */
	font-size: 1.1em;
	font-weight: bold;
	color: #773d66;
	background-color: #faeae5;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.nav-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0);
	color: #773d66;
	font-size: 2rem;
	border: none;
	cursor: pointer;
	padding: 10px;
	height:100%;
	width:20%;
}

.nav-button.left {
	left: 0px;
	text-align:left;
}

.nav-button.right {
	right: 0px;
	text-align:right;
}

/* .reset-button { */
	/* font-size: 1.1em; */
	/* font-weight: bold; */
	/* color: #773d66; */
	/* background-color: #faeae5; */
	/* border: none; */
	/* border-radius: 8px; /* Abgerundete Ecken */ */
	/* cursor: pointer; */
	/* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Leichter Schatten */ */
/* } */


